// =========================================
//  Images
// =========================================

.img {
  @include m(logo) {
    @extend %center;
    width: 100%;
    max-width: 180px;
  }
  @include m(frame) {
    @extend %center;
    width: 100%;
    padding: em(17px);

  }
  @include m(avatar) {
    @extend %center;
    padding-top: em(37px)
  }
}
