
// =========================================
// Base
// =========================================

*{
  box-sizing: border-box;
}


p {
  font-size: $base__font-size;
  line-height:$base__line-height;
  font-weight: $font-weight--thin;
}
